
.navbar{
  width: 100%;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  font-size: large;
}

.navbar ul li{
  list-style: none;
  display:inline-block;
  margin: 0 15px;
  position: relative;

}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #f9f9f9;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5;
}

.navbar ul li:hover::after{
  width: 100%;

}

.navbar2{
  width: 100%;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: large;
  color: #f9f9f9;
}

.navbar2 ul li{
  list-style: none;
  margin: 0 15px;
  position: relative;
  color: white;
}
